{% extends "base_auth.html" %}

{% block content %}
    <div id="fileContainer">
                <div class="accArea">
                    <div id="accLabel">
                        <h2>My Account</h2>
                    </div>
                    <form action="/account/change/" method="post">
                        {%  csrf_token %}
                    <div class="error">{{ form.non_field_errors }}<br />
                        {{ error }}
                    {{ form.username.errors }}<br />
                    {{ form.old_password.errors }}<br />
                    {{ form.password.errors }}<br />
                    {{ form.password2.errors }}<br />
                    {{ form.email.errors }}<br />
                    </div>
                    <div class="dTable">
                        <div class="dRow">
                            <div class="dCell">Username</div>
                            <div class="dCell">
                                {{ form.id }}{{ form.username }}</div>
                        </div>
                        <div class="dRow">
                            <div class="dCell">Old Password</div>
                            <div class="dCell">
                                {{ form.old_password }}</div>
                        </div>
                        <div class="dRow">
                            <div class="dCell">New Password</div>
                            <div class="dCell">
                                {{ form.password }}</div>
                        </div>
                        <div class="dRow">
                            <div class="dCell">Confirm New Password</div>
                            <div class="dCell">
                                {{ form.password2 }}</div>
                        </div>
                        <div class="dRow">
                            <div class="dCell">Email</div>
                            <div class="dCell">
                                {{ form.email }}</div>
                        </div>
                        <div class="dRow">
                            <div class="dCell"></div>
                            <div class="dCell">
                                <input type="submit" value="Update"></div>
                        </div>
                    </div>
                    </form>
                </div>


            </div>
{% endblock %}
{% block popup %}
    <div class="popUpBack overlay hide">
        </div>

        <div class="popUp dialogBox hide">
            <div class="puTitle"><span class="puTitleText">Alert</span>
                <span class="puClose">X</span>
            </div>
            <div class="puBody">
                <div>
                    <div class="message">MMMMMMM MMMMMMMMMMM
                    </div>
                </div>
            </div>
            <div class="puControl"><button class="puCancel" value="Cancel">Cancel</button><button class="puSave" value="OK">OK</button></div>
        </div>
        <div class="popUp alertBox hide">
            <div class="puTitle"><span class="puTitleText">Alert</span>
                <span class="puClose">X</span>
            </div>
            <div class="puBody">
                <div>
                    <div class="message">MMMMMMM MMMMMMMMMMM
                    </div>
                </div>
            </div>
            <div class="puControl"><button class="puCancel" value="Cancel">OK</button></div>
        </div>

{% endblock %}